---
title: 'Credit Card Offers'
layout: default
permalink: '/credit-card-offers'
description: Offers on Credit Card curated by CardInfo.
comments: false
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="font-weight-bold title h6 text-uppercase mb-4">
        Credit Card Offers
      </h1>
      {% assign sorted_categories = site.categories["Card Offers"] | map:
      "categories" | sort %} {% assign uniq_sorted_categories =
      sorted_categories | uniq %} {% for category in uniq_sorted_categories %}
      {% if category != "Card Offers" %}
      <h4
        class="font-weight-bold spanborder text-capitalize"
        id="{{ category | downcase | replace: ' ', '-'}}"
      >
        <span>{{ category }}</span>
      </h4>

      {% assign offer_list = site.categories[category] %} {% assign post = nil
      %}{% for post in offer_list %} {% if post.title != null and
      post.categories contains 'Card Offers' %} {% include main-loop-card.html
      %} {% endif %} {% endfor %} {% assign offer_list = nil %} {% endif %} {%
      endfor %}
    </div>

    <div class="col-md-4">
      <div class="d-none d-md-block pb-5">
        <h4 class="font-weight-bold spanborder"><span>Categories</span></h4>
        {% assign categories_list = uniq_sorted_categories %} {% if
        categories_list.first[0] == null %} {% for category in categories_list
        %} {% if category != "Card Offers" %}
        <h2 class="mb-2 h6 font-weight-bold">
          <a
            class="text-dark"
            href="{{
                site.baseurl
              }}/credit-card-offers#{{ category | downcase | url_escape | strip | replace: ' ', '-' }}"
            >{{ category | camelcase }}</a
          >
        </h2>
        {% endif %} {% endfor %} {% else %} {% for category in categories_list
        %} {% if category != "Card Offers" %}
        <h2 class="mb-2 h6 font-weight-bold">
          <a
            class="text-dark"
            href="{{
                site.baseurl
              }}/credit-card-offers#{{ category | downcase |  url_escape | strip | replace: ' ', '-' }}"
            >{{ category | camelcase }}</a
          >
        </h2>
        {% endif %}{% endfor %} {% endif %} {% assign categories_list = nil %}
      </div>
    </div>
  </div>
</div>
