---
title: 'Best site for real and unbiased credit card reviews, information, offers, tips & tricks in India'
layout: default
pagination:
  enabled: true
image: /assets/images/best-credit-cards-india-2021.jpg
---

<div class="container">
  {% if page.url == "/" %}

  <!-- Begin post excerpts, let's highlight the first 4 posts on top -->
  <div class="row remove-site-content-margin">
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %} 
    {% assign first_bg = latest_post.image | split: "." %}
    <style>
      .topfirstimage {
        background-image: url({% if latest_post.image contains "://" %}{{latest_post.image}}{% else %}{{site.baseurl}}{{latest_post.image}}{% endif %});
        background-position: center center;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .topfirstimage.webp {
        background-image: url({% if latest_post.image contains "://" %}{{first_bg.first}}.webp{% else %}{{site.baseurl}}{{first_bg.first}}.webp{% endif %});
        background-position: center center;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>
    <div class="col-md-6">
      <div class="card border-0 mb-4 box-shadow">
        <a href="{{site.baseurl}}{{latest_post.url}}">
          <div id="firstimage" class="topfirstimage webp"></div>
        </a>
        <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
          <h2 class="h4 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{latest_post.url}}"
              >{{ latest_post.title }}</a
            >
          </h2>
          <p class="card-text">
            <a class="excerpt" href="{{site.baseurl}}{{latest_post.url}}"
              >{{ latest_post.excerpt | strip_html | strip_newlines | truncate:
              136 }}</a
            >
          </p>
          <div>
            <small class="d-block text-muted">
              In
              <span class="catlist">
                {% for category in latest_post.categories %}
                <a
                  class="text-capitalize text-muted smoothscroll"
                  href="{{site.baseurl}}/categories#{{ category | downcase | replace: ' ', '-'}}"
                  >{{ category }}</a
                ><span class="sep">, </span>
                {% endfor %}
              </span>
            </small>
            <small class="text-muted">
              {{ latest_post.date | date: '%b %d, %Y' }}
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- second latest post -->
      {%- assign second_post = site.posts[1] -%}
      <div class="mb-3 d-flex align-items-center">
        {% if second_post.image %}
        <div class="col-md-4">
          <a href="{{site.baseurl}}{{second_post.url}}">
            {% assign image_name = second_post.image | split: "." %}
            <picture>
              <source
                data-srcset="{{ image_name.first }}.webp"
                type="image/webp"
              />
              <img class="w-100 lazy" data-src="{% if second_post.image contains
              "://" %}{{ second_post.image }}{% else %}{{ second_post.image }}{%
              endif %}" alt="{{ second_post.title }}">
            </picture>
          </a>
        </div>
        {% endif %}
        <div>
          <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{second_post.url}}"
              >{{ second_post.title }}</a
            >
          </h2>
          <small class="d-block text-muted">
            In
            <span class="catlist">
              {% for category in second_post.categories %}
              <a
                class="text-capitalize text-muted smoothscroll"
                href="{{site.baseurl}}/categories#{{ category | downcase | replace: ' ', '-'}}"
                >{{ category }}</a
              ><span class="sep">, </span>
              {% endfor %}
            </span>
          </small>
          <small class="text-muted">
            {{ second_post.date | date: '%b %d, %Y' }}
          </small>
        </div>
      </div>

      <!-- third latest post -->
      {%- assign third_post = site.posts[2] -%}
      <div class="mb-3 d-flex align-items-center">
        {% if third_post.image %}
        <div class="col-md-4">
          <a href="{{site.baseurl}}{{third_post.url}}">
            {% assign image_name = third_post.image | split: "." %}
            <picture>
              <source
                data-srcset="{{ image_name.first }}.webp"
                type="image/webp"
              />
              <img class="w-100 lazy" data-src="{% if third_post.image contains
              "://" %}{{ third_post.image }}{% else %}{{ third_post.image }}{%
              endif %}" alt="{{ third_post.title }}">
            </picture>
          </a>
        </div>
        {% endif %}
        <div>
          <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{third_post.url}}"
              >{{ third_post.title }}</a
            >
          </h2>
          <small class="d-block text-muted">
            In
            <span class="catlist">
              {% for category in third_post.categories %}
              <a
                class="text-capitalize text-muted smoothscroll"
                href="{{site.baseurl}}/categories#{{ category | downcase | replace: ' ', '-'}}"
                >{{ category }}</a
              ><span class="sep">, </span>
              {% endfor %}
            </span>
          </small>
          <small class="text-muted">
            {{ third_post.date | date: '%b %d, %Y' }}
          </small>
        </div>
      </div>

      <!-- fourth latest post -->
      {%- assign fourth_post = site.posts[3] -%}
      <div class="mb-3 d-flex align-items-center">
        {% if fourth_post.image %}
        <div class="col-md-4">
          <a href="{{site.baseurl}}{{fourth_post.url}}">
            {% assign image_name = fourth_post.image | split: "." %}
            <picture>
              <source
                data-srcset="{{ image_name.first }}.webp"
                type="image/webp"
              />
              <img class="w-100 lazy" data-src="{% if fourth_post.image contains
              "://" %}{{ fourth_post.image }}{% else %}{{ fourth_post.image }}{%
              endif %}" alt="{{ fourth_post.title }}">
            </picture>
          </a>
        </div>
        {% endif %}
        <div>
          <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="{{site.baseurl}}{{fourth_post.url}}"
              >{{ fourth_post.title }}</a
            >
          </h2>
          <small class="d-block text-muted">
            In
            <span class="catlist">
              {% for category in fourth_post.categories %}
              <a
                class="text-capitalize text-muted smoothscroll"
                href="{{site.baseurl}}/categories#{{ category | downcase | replace: ' ', '-'}}"
                >{{ category }}</a
              ><span class="sep">, </span>
              {% endfor %}
            </span>
          </small>
          <small class="text-muted">
            {{ fourth_post.date | date: '%b %d, %Y' }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- Highlight (your own choice of highlighting a link, no post here) -->
  <div
    class="jumbotron jumbotron-fluid jumbotron-home pt-0 pb-0 mt-3 mb-2rem bg-lightblue position-relative"
  >
    <div class="pl-4 pr-0 h-100 tofront">
      <div class="row justify-content-between">
        <div class="col-md-6 pt-6 pb-6 align-self-center">
          <a href="{{site.baseurl}}/best-credit-cards-in-india-for-2021/"
            ><h1 class="text-dark mb-3">
              Best Credit Cards in India for 2021
            </h1></a
          >
          <p class="mb-3 lead">
            Curated list of best Credit Cards in India for 2021 based on your
            life style.
          </p>
          <a
            href="{{site.baseurl}}/best-credit-cards-in-india-for-2021/"
            class="btn btn-dark"
            >Read More »</a
          >
        </div>
        <div id="highlight" class="col-md-6 d-none d-md-block pr-0 webp"></div>
      </div>
    </div>
  </div>

  {% endif %}
  <!--endif page url is / -->

  <!-- Now the rest of the posts with the usual loop but with an offset:4 on the first page so we can skeep the first 4 posts displayed above -->

  <div class="row mt-3">
    <div class="col-md-8 main-loop">
      <h4 class="font-weight-bold spanborder"><span>All Stories</span></h4>

      {% for post in paginator.posts %} {% include main-loop-card.html %} {%
      endfor %} {% include advertisement-bottom.html %}
      <div class="mt-5 d-flex justify-content-center">
        <!-- Pagination links -->
        {% include pagination.html %}
      </div>
    </div>

    <div class="col-md-4">
      {% include sidebar.html %}
    </div>
  </div>
</div>
<!-- Categories -->
<div id="categories" class="jumbotron fortags webp mt-3">
  <div class="d-md-flex h-100">
    <div class="col-md-4 transpdark align-self-center text-center h-100">
      <div class="d-md-flex align-items-center justify-content-center h-100">
        <h2 class="d-md-block align-self-center py-1 font-weight-light">
          Explore <span class="d-none d-md-inline">→</span>
        </h2>
      </div>
    </div>
    <div class="col-md-8 p-5 align-self-center text-center">
      {% assign categories_list = site.categories %} {% if
      categories_list.first[0] == null %} {% for category in categories_list %}
      <a
        class="mt-1 mb-1"
        href="{{site.baseurl}}/categories#{{ category | downcase | url_escape | strip | replace: ' ', '-' }}"
        >{{ category | camelcase }} ({{ site.tags[category].size }})</a
      >
      {% endfor %} {% else %} {% for category in categories_list %}
      <a
        class="mt-1 mb-1"
        href="{{site.baseurl}}/categories#{{ category[0] | downcase |  url_escape | strip | replace: ' ', '-' }}"
        >{{ category[0] | camelcase }} ({{ category[1].size }})</a
      >
      {% endfor %} {% endif %} {% assign categories_list = nil %}
    </div>
  </div>
</div>
