<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pl-4 pr-4 pt-2 pb-2 bg-lightblue">
    <div class="row p-1">
      <div class="col-lg-8 p-0">
        <h5 class="font-weight-bold text-center">
          Exclusive Offer on Citi Rewards Card
        </h5>
        <div class="row">
          <ul>
            <li>25% cashback on Ola<sup>*</sup></li>
            <li>25% cashback on Swiggy<sup>*</sup></li>
            <li>20% cahback on BigBasket<sup>*</sup></li>
            <li>Buy 1 Get 1 movie ticket on Paytm<sup>*</sup></li>
            <li>
              Rs. 1,200 cashback on domestic flights on MakeMyTrip<sup>*</sup>
            </li>
            <li>
              10X rewards on apparel and department stores spends
            </li>
            <li>
              300 bonus points on spending Rs. 30,000 monthly
            </li>
            <li>Fee waiver on annual spends of Rs. 30,000</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center justify-content-center">
          <picture>
            <source
              data-srcset="{{
                site.baseurl
              }}/assets/images/citi-rewards-credit-card.webp"
              type="image/webp"
            />
            <img
              class="lazy mx-auto d-block pt-3 pb-3 "
              data-src="{{
                site.baseurl
              }}/assets/images/citi-rewards-credit-card.png"
              alt="Apply for American Express Membership Rewards Card"
            />
          </picture>
        </div>
        <div class="">
          <a
            href="https://www.online.citibank.co.in/portal/newgen/cards/tab/apply-now.htm?campaign_id=CardNTB1&referralCode=PrAF00DE&Section=MGM&eoffercode=MGMSOCIAL&cardName=rewardscard"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
