<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pl-4 pr-4 pt-2 pb-2 bg-lightblue">
    <div class="row p-1">
      <div class="col-lg-8 p-0">
        <h5 class="font-weight-bold text-center">
          Exclusive Offer on NiYO Global Forex Card
        </h5>
        <div class="row">
          <ul>
            <li>No joining and renewal fee<sup>*</sup></li>
            <li>No foreign currency markup fee</li>
            <li>
              No currency loading/re-loading fee
            </li>
            <li>No fee on ATM cash withdrawals worldwide<sup>*</sup></li>
            <li>Save up to 4.13% on international transactions<sup>*</sup></li>
            <li>Best in class companion mobile app</li>
            <li>
              Accepted in 150+ currencies worldwide
            </li>
            <li>
              Rs. 500 cashback on first international transaction above Rs.
              1,000<sup>*</sup>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center justify-content-center">
          <a href="/niyo-global-forex-card-review/">
            <picture>
              <source
                data-srcset="{{
                site.baseurl
              }}/assets/images/niyo-global-card-face.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3 "
                data-src="{{
                site.baseurl
              }}/assets/images/niyo-global-card-face.png"
                alt="Apply for NiYO Global Forex Card"
              />
            </picture>
          </a>
        </div>
        <div class="">
          <a
            href="https://l.cardinfo.in/niyo"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
