<div class="border pl-4 pr-4 pt-3 pb-2 bg-lightblue">
  <div class="row justify-content-between">
    <div class="col-md-8 mb-2 mb-md-0">
      <h5 class="font-weight-bold text-center">
        Exclusive Offer on Citi Cashback Credit Card
      </h5>
      <div class="row">
        <ul>
          <li>
            Rs. 1,000 Amazon Gift Card on spending Rs. 5,000 in first 60
            days<sup>*</sup>
          </li>
          <li>5% cashback on movie ticket purchases<sup>*</sup></li>
          <li>5% cashback on telephone bill payments<sup>*</sup></li>
          <li>5% cashback on utility bill payments<sup>*</sup></li>
          <li>0.5% cashback on other spends<sup>*</sup></li>
          <li>20% instant discount on Zomato & Swiggy<sup>*</sup></li>
          <li>
            2 Months additional on 12 Months recharge of Tata Sky<sup>*</sup>
          </li>
          <li>Attractive merchant offers</li>
          <li>Cashback auto credited to statement in multiples of Rs. 500</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="text-center justify-content-center col-12">
          <a target="_blank" href="https://l.cardinfo.in/citicasback">
            <picture>
              <source
                data-srcset="{{
                  site.baseurl
                }}/assets/images/citi-cashback-credit-card-new.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3"
                data-src="{{
                  site.baseurl
                }}/assets/images/citi-cashback-credit-card-new.png"
                alt="Apply for Citi Cashback Credit Card"
              />
            </picture>
          </a>
        </div>
        <div class="col-12">
          <a
            href="https://l.cardinfo.in/citicasback"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
