<div class="border pl-4 pr-4 pt-3 pb-2 bg-lightblue">
  <div class="row justify-content-between">
    <div class="col-md-8 mb-2 mb-md-0">
      <h5 class="font-weight-bold text-center">
        Get SBI SimplySAVE Credit Card now
      </h5>
      <div class="row">
        <ul>
          <li>
            10X rewards on Groceries, Departmental Stores, Dining & Movies<sup
              >*</sup
            >
          </li>
          <li>
            2,000 bonus points on spending Rs 2,000 in first 60 days
          </li>
          <li>
            1% fuel surcharge at any petrol pump
          </li>
          <li>Minimal joining fee of Rs. 499</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="text-center justify-content-center col-12">
          <a target="_blank" href="https://l.cardinfo.in/simplysave">
            <picture>
              <source
                data-srcset="{{
                  site.baseurl
                }}/assets/images/sbi-simplysave-credit-card.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3"
                data-src="{{
                  site.baseurl
                }}/assets/images/sbi-simplysave-credit-card.png"
                alt="Apply for SBI SimplySAVE Credit Card"
              />
            </picture>
          </a>
        </div>
        <div class="col-12">
          <a
            href="https://l.cardinfo.in/simplysave"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
