<div class="border pl-4 pr-4 pt-3 pb-2 bg-lightblue">
  <div class="row justify-content-between">
    <div class="col-md-8 mb-2 mb-md-0">
      <h5 class="font-weight-bold text-center">
        Exclusive Offer on Citi Rewards Card
      </h5>
      <div class="row">
        <ul>
          <li>
            Rs. 1,000 Amazon Gift Card on spending Rs. 5,000 in first 60
            days<sup>*</sup>
          </li>
          <li>2,500 activation bonus reward points<sup>*</sup></li>
          <li>
            10X rewards on online and physical apparel & department stores
            spends
          </li>
          <li>
            300 bonus points on spending Rs. 30,000 monthly
          </li>
          <li>20% instant discount on Zomato & Swiggy<sup>*</sup></li>
          <li>
            2 Months additional on 12 Months recharge of Tata Sky<sup>*</sup>
          </li>
          <li>Earned Reward Points never expire</li>
          <li>Fee waiver on annual spends of Rs. 30,000</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="text-center justify-content-center col-12">
          <a target="_blank" href="https://l.cardinfo.in/citirewards">
            <picture>
              <source
                data-srcset="{{
                site.baseurl
              }}/assets/images/citi-rewards-credit-card.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3"
                data-src="{{
                site.baseurl
              }}/assets/images/citi-rewards-credit-card.png"
                alt="Apply for Citi Rewards Card"
              />
            </picture>
          </a>
        </div>
        <div class="col-12">
          <a
            href="https://l.cardinfo.in/citirewards"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
