<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pl-4 pr-4 pt-2 pb-2 bg-lightblue">
    <div class="row p-1">
      <div class="col-lg-8 p-0">
        <h5 class="font-weight-bold text-center">
          Get SBI SimplyCLICK Credit Card now
        </h5>
        <div class="row">
          <ul>
            <li>
              10X rewards on Amazon, BookMyShow, Cleartrip etc.<sup>*</sup>
            </li>
            <li>5X rewards on all other online spends<sup>*</sup></li>
            <li>
              Cleartrip e-voucher worth Rs. 2,000 on annual online spends of Rs.
              1 Lakh
            </li>
            <li>
              Additional Cleartrip e-voucher worth Rs. 2,000 on annual online
              spends of Rs. 2 Lakhs
            </li>
            <li>Amazon gift voucher worth Rs. 500 on joining<sup>*</sup></li>
            <li>Minimal joining fee of Rs. 499</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center justify-content-center">
          <a href="/sbi-simplyclick-credit-card-review/">
            <picture>
              <source
                data-srcset="{{
                site.baseurl
              }}/assets/images/sbi-simply-click-credit-card.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3"
                data-src="{{
                site.baseurl
              }}/assets/images/sbi-simply-click-credit-card.png"
                alt="Apply for NiYO Global Forex Card"
              />
            </picture>
          </a>
        </div>
        <div class="">
          <a
            href="https://l.cardinfo.in/simplyclick"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
