<div class="border pl-4 pr-4 pt-4 pb-2 mb-4 bg-lightblue">
  <a href="/american-express-membership-rewards-credit-card-mrcc-review/">
    <picture>
      <source
        data-srcset="{{
          site.baseurl
        }}/assets/images/american-express-membership-rewards-credit-card-sidebar.webp"
        type="image/webp"
      />
      <img
        class="lazy mx-auto d-block"
        data-src="{{
          site.baseurl
        }}/assets/images/american-express-membership-rewards-credit-card-sidebar.png"
        alt="Apply for American Express Membership Rewards Card"
      />
    </picture>
  </a>
  <h5 class="p-2 font-weight-bold text-center">Exclusive Offer</h5>
  <ul>
    <li>No Joining Fee</li>
    <li>No Renewal Fee<sup>*</sup></li>
    <li>Upto 13.5% reward rate</li>
    <li>4,000 Bonus Reward Points<sup>*</sup></li>
    <li>1,000 Bonus Reward Points each month<sup>*</sup></li>
    <li>Best Customer Support</li>
    <li>Attractive Merchant Offers</li>
  </ul>
  <a
    href="https://l.cardinfo.in/amex"
    target="_blank"
    class="btn btn-lg btn-danger btn-block post-element mt-2"
    rel="noopener"
    ><i class="ci-pen"></i> Apply Now</a
  >
  <div class="mt-2 text-right"><sup>* Terms & Conditions Apply</sup></div>
</div>
