<div class="mb-5 d-flex justify-content-between main-loop-card">
  <div class="pl-4 pr-4 pt-2 pb-2 bg-lightblue">
    <div class="row p-1">
      <div class="col-lg-8 p-0">
        <h5 class="font-weight-bold text-center">
          Get SC Manhattan Credit Card now
        </h5>
        <div class="row">
          <ul>
            <li>One of the best all-rounder lifestyle credit cards</li>
            <li>5% cashback on supermarkets and departmental stores</li>
            <li>3x reward points per Rs. 150 spent on other categories</li>
            <li>15% discount at over 850 restaurants<sup>*</sup></li>
            <li>
              Rs. 150 instant discount at BigBasket every Friday<sup>*</sup>
            </li>
            <li>10% instant discount at Central</li>
            <li>5% cashback at Croma every Tuesday</li>
            <li>
              Renewal fee waiver on spending Rs. 1.2 Lakhs in a year<sup>*</sup>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="text-center justify-content-center">
          <a href="/standard-chartered-manhattan-credit-card-review/">
            <picture>
              <source
                data-srcset="{{
                site.baseurl
              }}/assets/images/standard-chartered-manhattan.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3"
                data-src="{{
                site.baseurl
              }}/assets/images/standard-chartered-manhattan.png"
                alt="Apply for NiYO Global Forex Card"
              />
            </picture>
          </a>
        </div>
        <div class="">
          <a
            href="https://l.cardinfo.in/scmanhattan"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
