<div class="border pl-4 pr-4 pt-3 pb-2 bg-lightblue">
  <div class="row justify-content-between">
    <div class="col-md-8 mb-2 mb-md-0">
      <h5 class="font-weight-bold text-center">
        Attractive Offer on Standard Chartered Manhattan Credit Card
      </h5>
      <div class="row">
        <ul>
          <li>One of the best all-rounder lifestyle credit cards</li>
          <li>5% cashback on supermarkets and departmental stores</li>
          <li>
            3x reward points per Rs. 150 spent on other categories
          </li>
          <li>15% discount at over 850 restaurants<sup>*</sup></li>
          <li>
            Rs. 200 instant discount at Grofers every Thursday<sup>*</sup>
          </li>
          <li>25% discount on Movie tickets at Inox on weekends</li>
          <li>10% discount on food & beverages at Inox on weekends</li>
          <li>
            Renewal fee waiver on spending Rs. 1.2 Lakhs in a year<sup>*</sup>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="text-center justify-content-center col-12">
          <a target="_blank" href="https://l.cardinfo.in/scmanhattan">
            <picture>
              <source
                data-srcset="{{
                  site.baseurl
                }}/assets/images/standard-chartered-manhattan.webp"
                type="image/webp"
              />
              <img
                class="lazy mx-auto d-block pt-3 pb-3 "
                data-src="{{
                  site.baseurl
                }}/assets/images/standard-chartered-manhattan.png"
                alt="Apply for Citi Rewards Card"
              />
            </picture>
          </a>
        </div>
        <div class="col-12">
          <a
            href="https://l.cardinfo.in/scmanhattan"
            target="_blank"
            class="btn btn-danger btn-lg btn-block post-element mt-2"
            rel="noopener"
            ><i class="ci-pen"></i> Apply Now</a
          >
          <div class="mt-2 text-right">
            <sup>* T&CA, Limited Period Offer</sup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
