<div id="recent-comments">
  <div id="recent-comments-container"></div>
  <ul
    class="pagination justify-content-center"
    role="navigation"
    aria-labelledby="pagination-label"
  >
    <li id="comment-previous" class="previous">
      <a
        class="pagination-item"
        id="page-prev"
        style="color: #6c757d;"
        href=""
        rel="prev"
        >previous<span class="sr-only"> page</span></a
      >
    </li>
    <li id="comment-next" class="next">
      <a class="pagination-item" id="page-next" href="" rel="next"
        >next<span class="sr-only"> page</span></a
      >
    </li>
  </ul>
</div>
<script>
  var curTime = new Date().getTime();
  var limit = 10;
  var offset = 0;
  function timeDiff(current, previous) {
    // Times are defined in milliseconds
    var msPerSecond = 1000;
    var msPerMinute = 60 * msPerSecond;
    var msPerHour = 60 * msPerMinute;
    var msPerDay = 24 * msPerHour;
    var msPerMonth = 30 * msPerDay;
    var msPerYear = 12 * msPerMonth;

    // Time ago thresholds
    var msJustNow = 5 * msPerSecond; // Up until 5 s
    var msMinutesAgo = 2 * msPerMinute; // Up until 2 minutes
    var msHoursAgo = 2 * msPerHour; // Up until 2 hours
    var msDaysAgo = 2 * msPerDay; // Up until 2 days
    var msMonthsAgo = 2 * msPerMonth; // Up until 2 months
    var msYearsAgo = 2 * msPerYear; // Up until 2 years

    var elapsed = current - previous;

    if (elapsed < msJustNow) {
      return 'just now';
    } else if (elapsed < msMinutesAgo) {
      return Math.round(elapsed / msPerSecond) + ' seconds ago';
    } else if (elapsed < msHoursAgo) {
      return Math.round(elapsed / msPerMinute) + ' minutes ago';
    } else if (elapsed < msDaysAgo) {
      return Math.round(elapsed / msPerHour) + ' hours ago';
    } else if (elapsed < msMonthsAgo) {
      return Math.round(elapsed / msPerDay) + ' days ago';
    } else if (elapsed < msYearsAgo) {
      return Math.round(elapsed / msPerMonth) + ' months ago';
    } else {
      return Math.round(elapsed / msPerYear) + ' years ago';
    }
  }

  function classAdd(el, cls) {
    el.classList.add('commento-' + cls);
  }

  function create(el) {
    return document.createElement(el);
  }

  function attrSet(node, a, value) {
    node.setAttribute(a, value);
  }

  function getColor(name) {
    var colors = [
      '#396ab1',
      '#da7c30',
      '#3e9651',
      '#cc2529',
      '#922428',
      '#6b4c9a',
      '#535154',
    ];

    var total = 0;
    for (var i = 0; i < name.length; i++) {
      total += name.charCodeAt(i);
    }
    var color = colors[total % colors.length];

    return color;
  }
  var latestComments;
  var latestCommenters;
  var domain = 'cardinfo.in';
  var cdn = 'https://api.cardinfo.in';
  function getComments(limit, offset, callback) {
    var commentsHTML = '';
    var request = new XMLHttpRequest();
    request.open(
      'GET',
      cdn +
        '/api/comment/summary?domain=' +
        domain +
        '&limit=' +
        limit +
        '&offset=' +
        offset,
      true
    );

    request.onload = function () {
      if (this.status >= 200 && this.status < 400) {
        var data = JSON.parse(this.response);
        latestComments = data.comments;
        latestCommenters = data.commenters;
        latestComments.forEach(function (comment) {
          var avatar;
          var color = getColor(
            comment.commenterHex +
              '-' +
              latestCommenters[comment.commenterHex].name
          );
          if (latestCommenters[comment.commenterHex].photo === 'undefined') {
            avatar = create('div');
            avatar.style['background'] = color;

            if (comment.commenterHex === 'anonymous') {
              avatar.innerHTML = '?';
              avatar.style['font-weight'] = 'bold';
            } else {
              avatar.innerHTML = latestCommenters[
                comment.commenterHex
              ].name[0].toUpperCase();
            }

            classAdd(avatar, 'avatar');
          } else {
            avatar = create('img');
            attrSet(
              avatar,
              'src',
              cdn + '/api/commenter/photo?commenterHex=' + comment.commenterHex
            );
            attrSet(avatar, 'alt', latestCommenters[comment.commenterHex].name);
            classAdd(avatar, 'avatar-img');
          }
          commentsHTML +=
            '<div class="row p-1"><div class="col-2 col-md-4 col-lg-3 avatar">' +
            avatar.outerHTML +
            '</div><div class="col-10 col-md-8 col-lg-9 p-0"> ' +
            latestCommenters[comment.commenterHex].name +
            ' on <a href="' +
            comment.url +
            '#commento-' +
            comment.commentHex +
            '">' +
            comment.title +
            '</a> ' +
            timeDiff(curTime, new Date(comment.creationDate)) +
            '</div></div>';
        });
        callback(commentsHTML);
      } else {
        console.log('Server error in fetching data.');
      }
    };

    request.onerror = function () {
      console.log('Connection error in fetching data.');
    };
    request.send();
  }

  getComments(limit, offset, function (commentsHTML) {
    var finalCommentsHTML =
      '<h4 class="font-weight-bold spanborder"><span>Recent Comments</span></h4><div class="comments text-muted">' +
      commentsHTML +
      '</div>';
    document.getElementById(
      'recent-comments-container'
    ).innerHTML = finalCommentsHTML;
  });

  document.getElementById('comment-next').onclick = function (event) {
    event.preventDefault();
    if (offset >= 0) {
      offset += 10;
      getComments(limit, offset, function (commentsHTML) {
        var finalCommentsHTML =
          '<h4 class="font-weight-bold spanborder"><span>Recent Comments</span></h4><div class="comments text-muted">' +
          commentsHTML +
          '</div>';
        document.getElementById(
          'recent-comments-container'
        ).innerHTML = finalCommentsHTML;
      });
      document.getElementById('page-prev').style.color = '#03a87c';
    }
  };

  document.getElementById('comment-previous').onclick = function (event) {
    event.preventDefault();
    if (offset >= 10) {
      offset -= 10;
      getComments(limit, offset, function (commentsHTML) {
        var finalCommentsHTML =
          '<h4 class="font-weight-bold spanborder"><span>Recent Comments</span></h4><div class="comments text-muted">' +
          commentsHTML +
          '</div>';
        document.getElementById(
          'recent-comments-container'
        ).innerHTML = finalCommentsHTML;
      });
      if (offset > 0) {
        document.getElementById('page-next').style.color = '#03a87c';
      } else {
        document.getElementById('page-prev').style.color = '#6c757d';
      }
    }
  };
</script>
