<script src="{{ site.baseurl }}/assets/js/lunr.js"></script>

<script>
  $(function() {
    $('#lunrsearchresults').on('click', '#btnx', function() {
      $('#lunrsearchresults').hide(1000);
      $('body').removeClass('modal-open');
    });
  });

  var idx;
  if (!sessionStorage.getItem('lunrIndex')) {
    $.getJSON('/content.json').done(function(data) {
      sessionStorage.setItem('actualData', JSON.stringify(data.documents));
      idx = lunr(function() {
        this.ref('id');
        this.field('title');
        this.field('body');

        data.documents.forEach(function(doc) {
          this.add(doc);
        }, this);
      });
      sessionStorage.setItem('lunrIndex', JSON.stringify(idx));
    });
  }
  function lunr_search(term) {
    event.preventDefault();
    $('#lunrsearchresults').show(1000);
    $('body').addClass('modal-open');

    document.getElementById('lunrsearchresults').innerHTML =
      '<div id="resultsmodal" class="modal fade show d-block"  tabindex="-1" role="dialog" aria-labelledby="resultsmodal"> <div class="modal-dialog shadow-lg" role="document"> <div class="modal-content"> <div class="modal-header" id="modtit"> <button type="button" class="close" id="btnx" data-dismiss="modal" aria-label="Close"> &times; </button> </div> <div class="modal-body"> <ul class="mb-0"> </ul>    </div> <div class="modal-footer"><button id="btnx" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button></div></div> </div></div>';
    if (term) {
      document.getElementById('modtit').innerHTML =
        "<h5 class='modal-title'>Search results for '" +
        term +
        "'</h5>" +
        document.getElementById('modtit').innerHTML;
      // Display results on the screen.
      var savedIndexData = JSON.parse(sessionStorage.getItem('lunrIndex'));
      var documents = JSON.parse(sessionStorage.getItem('actualData'));
      var results = lunr.Index.load(savedIndexData).search(term);
      if (results.length > 0) {
        for (var i = 0; i < results.length; i++) {
          // more statements
          var ref = results[i]['ref'];
          var url = documents[ref]['url'];
          var title = documents[ref]['title'];
          var body = documents[ref]['body'].substring(0, 160) + '...';
          document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML =
            document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML +
            "<li class='lunrsearchresult'><a href='" +
            url +
            "'><span class='title'>" +
            title +
            "</span><br /><small><span class='body'>" +
            body +
            "</span><br /><span class='url'>" +
            url +
            '</span></small></a></li>';
        }
      } else {
        document.querySelectorAll('#lunrsearchresults ul')[0].innerHTML =
          "<li class='lunrsearchresult'>Sorry, no results found. Close & try a different search!</li>";
      }
    }
    return false;
  }
</script>
<style>
  .lunrsearchresult .title {
    color: #03a87c;
  }
  .lunrsearchresult .url {
    color: silver;
  }
  .lunrsearchresult a {
    display: block;
    color: #777;
  }
  .lunrsearchresult a:hover,
  .lunrsearchresult a:focus {
    text-decoration: none;
  }
  .lunrsearchresult a:hover .title {
    text-decoration: underline;
  }
</style>

<form
  class="bd-search hidden-sm-down"
  onSubmit="return lunr_search(document.getElementById('lunrsearch').value);"
>
  <input
    type="text"
    class="form-control text-small"
    id="lunrsearch"
    name="q"
    value=""
    placeholder="Type keyword and enter..."
  />
</form>
