<div class="sticky-top sticky-top-offset">
    <div class="border pl-4 pr-4 pt-4 pb-2 mb-4 bg-lightblue">
        <picture>
          <source
            data-srcset="{{
              site.baseurl
            }}/assets/images/american-express-membership-rewards-credit-card-sidebar.webp"
            type="image/webp"
          />
          <img
            class="lazy mx-auto d-block"
            data-src="{{
              site.baseurl
            }}/assets/images/american-express-membership-rewards-credit-card-sidebar.png"
            alt="Apply for American Express Membership Rewards Card"
          />
        </picture>
        <h5 class="p-2 font-weight-bold text-center">Exclusive Offer</h6>
        <ul>
        <li>No Joining Fee</li>
        <li>No Renewal Fee<sup>*</sup></li>
        <li>4,000 Bonus Reward Points<sup>*</sup></li>
        <li>1,000 Bonus Reward Points each month<sup>*</sup></li>
        <li>Best Customer Support</li>
        <li>Attractive Merchant Offers</li>
      </ul>
        <a
          href="http://amex.in/refer/pranap9yzB?CPID=999999544"
          target="_blank"
          class="btn btn-lg btn-danger btn-block post-element mt-2"
          rel="noopener"
          ><i class="ci-pen"></i> Apply Now</a
        >
      <div class="mt-2 text-right"><sup>* Terms & Conditions Apply</sup></div>
      </div>
  <h4 class="font-weight-bold spanborder"><span>Featured</span></h4>
  <ol class="list-featured">
    {% for post in site.tags.featured %}
    <li class="mb-4">
      <span>
        <h6 class="font-weight-bold">
          <a href="{{ site.baseurl }}{{ post.url }}" class="text-dark">{{
            post.title
          }}</a>
        </h6>
        <span class="d-block text-muted">
          In
          <span class="catlist">
            {% for category in post.categories %}
            <a
              class="text-capitalize text-muted smoothscroll"
              href="{{
                site.baseurl
              }}/categories#{{ category | downcase | replace: ' ', '-'}}"
              >{{ category }}</a
            ><span class="sep">, </span>
            {% endfor %}
          </span>
        </span>
      </span>
    </li>
    {% endfor %}
  </ol>
  <h4 class="font-weight-bold spanborder"><span>Card Offers</span></h4>
  <ol class="list-featured">
    {% for post in site.tags.card-offers %}
    <li class="mb-4">
      <span>
        <h6 class="font-weight-bold">
          <a href="{{ site.baseurl }}{{ post.url }}" class="text-dark">{{
            post.title
          }}</a>
        </h6>
        <span class="d-block text-muted">
          In
          <span class="catlist">
            {% for category in post.categories %}
            <a
              class="text-capitalize text-muted smoothscroll"
              href="{{
                site.baseurl
              }}/categories#{{ category | downcase | replace: ' ', '-'}}"
              >{{ category }}</a
            ><span class="sep">, </span>
            {% endfor %}
          </span>
        </span>
      </span>
    </li>
    {% endfor %}
  </ol>
</div>
